<!-- Contact -->
<section id="contact" class="bg-near-black grey-3 pv4 pv6-ns">
  <div class="cover-bg" style="background-image: url({{.cover}})"></div>
	<div class="mw8 ph3 flex-m justify-between items-center center">
    <div class=" dn db-l center tc pl0 pr4 mh0">
      <img src="/img/photos/michal-biernat-h0xEUQXzU38-unsplash.jpg" alt="A photo of hands holding and using a mobile phone">
    </div>
    <div class="center ph4 p0-m mh0">
      <h3 class="ttu primary">{{.above_title}}</h3>
      <p class="f2 b lh-title mb4 grey-2 mw-none">{{.heading}}</p>

      <form name="contact" netlify>
        <div class="">
          <!-- Name -->
          <div class="mv2">
            <fieldset>
              <input type="text" id="name" name="name" placeholder="Name" class="w-100 mb2" required>
              <label for="name">Name</label>
            </fieldset>
          </div>
          <!-- Company -->
          <div class="mv2">
            <fieldset>
              <input type="text" id="company" name="company" placeholder="Company" class="w-100 mb2" required>
              <label for="company">Company</label>
            </fieldset>
          </div>
          <!-- Email -->
          <div class="mv2">
            <fieldset>
              <input type="email" id="email" name="email" placeholder="Email" class="w-100 mb2" required>
              <label for="email">Email</label>
            </fieldset>
          </div>
        </div>

        <!-- Message -->
        <fieldset class="mt2 mb3">
          <textarea id="message" name="message" placeholder="Message" rows="8" cols="80" class="w-100 mb3" required></textarea>
          <label for="message">Message</label>
        </fieldset>
        <!-- Button -->
        <div class="tc">
          <button type="submit" class="btn w-100 bg-primary white">Send</button>
        </div>
      </form>
    </div>
  </div>
</section>