<footer id="footer" class="bg-black ph3 pt5 pb4 grey-3">
	<div class="mw8 center pt3 ph4-ns ph2-n">
		<div class="flex justify-between">

			<div class="pitch">
				<p class="f6 lh-copy measure"><strong><a href="/" class="link white"><span class="logotype">Kyperlink</span></a></strong> is a digital agency delivering services in web design, app development, as well as technical advisory and consultancy with a focus on <strong class="fw1 grey-2">impactful user experience</strong>.</p>
			</div>

			<div class="links">
				<ul class="f6 white">
					<li><a href="#services" class="link db mh3 mv1">Our services</a></li>
					<li><a href="#values" class="link db mh3 mv1">Our values</a></li>
					<li><a href="#approach" class="link db mh3 mv1">Our approach</a></li>
					<li><a href="#contact" class="b br-pill ba bw1 mt3 ph3 pv1 no-underline dib highlight bg-animate">Get in touch</a></li>
				</ul>
			</div>

			<div class="social">
				<ul class="mh2 ml3">
					{{ partial "social-icon" (dict "link" "https://facebook.com/kyperlink" "svg" "icons-facebook") }}
					{{ partial "social-icon" (dict "link" "https://twitter.com/kyperlink" "svg" "icons-twitter") }}
				</ul>
			</div>

			<div class="logomark">
				<img src="/img/logo-kyperlink-logomark.svg" alt="Kyperlink logo" class="br0">
			</div>

			<div class="copyright">
				<p class="f6">&copy; 2023 Kyperlink Technologies Sdn Bhd (1490532-M)</p>
			</div>

		</div>
	</div>

</footer>

{{ partial "svg" . }}
