<div id="top" class="pv5 pv6-l bg-center cover">
  <div class="flex-m justify-between items-center">
    <div class="pb3 ph4">
      <div class="relative mb4">
        <h1 class="f2 f1-l b di lh-title mb3 white mw6">
          Technology solutions with <span class="text-gradient" data-gradient_type="linear-gradient" data-gradient_radial_position="90" data-gradient_linear_angle="90" data-gradient_start_pointer="0" data-gradient_finish_pointer="100" data-gradient_active_pointer="finishPointer" data-gradient_start_hex="#00aaff" data-gradient_finish_hex="#782af6" data-gradient_start_opacity="1" data-gradient_finish_opacity="0.8" data-gradient_start_palette="" data-gradient_finish_palette="" style="background-image: linear-gradient(90deg, rgb(0, 170, 255) 0%, rgba(120, 42, 246, 0.8) 100%);">impactful user experience</span>.
        </h1>
      </div>
      <div class="relative">
        <p class="lh-copy f4 mb3 white mw6">
          We craft web and mobile apps custom-tailored for your needs<span class="sr-only"> in digital marketing, business process improvements and unique user experience</span>.
        </p>
        {{ if .cta_label }}
        <p>
          <a href="#contact" class="f4 b dim br-pill ttu tracked mv4 ph4 pv2 dib black bg-highlight no-underline">{{.cta_label}}</a>
        </p>
        {{ end }}
      </div>
    </div>
    <div class="rive-container">
      <canvas id="canvas" class="" width="500" height="500"></canvas>
      <script src="https://unpkg.com/@rive-app/canvas@1.0.98"></script>
      <script>
        new rive.Rive({
          src: "/img/rocket_cat.riv",
          canvas: document.getElementById("canvas"),
          autoplay: true,
          artboard: "rocket cat",
          stateMachines: "State Machine 1",
        });
      </script>
    </div>
  </div>
</div>
