<nav class="overflow-x-scroll overflow-x-visible-ns flex justify-between items-center center bg-black relative">

	<!-- Logo -->
	<a href="/" class="pa3 db mr1 h-100 w4 flex-none">
		<img src="/img/logo-kyperlink-horizontal.svg" alt="Kyperlink logo" class="br0 db mb0 w-100"/>
	</a>

	<!-- Primary Nav -->
	<ul class="flex b grey-2">
		<li><a href="#services" class="pa3 no-underline dn db-ns">Services</a></li>

		<li><a href="#values" class="pa3 no-underline dn db-ns">Values</a></li>

		<li><a href="#approach" class="pa3 no-underline dn db-ns">Approach</a></li>

		<li><a href="#contact" class="br-pill ba bw1 mv2 ml1 mr1 mr3-ns ph3 pv2 no-underline db highlight bg-animate">Contact Us</a></li>
	</ul>

</nav>
